@media only screen and (min-width: 375px) {
    /* For desktop: */
    *{  
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   
    body{
        background: url("./Images/bg-intro-desktop.png");
        height: 100%;
        background-color: hsl(0, 100%, 74%);
        place-items: center;
        overflow: hidden;
    
    }
    .BIG-BODY{
        display: grid;
        grid-template-areas:
        'item-a item-a item-a item-b item-b item-b'
        'item-a item-a item-a item-c item-c item-c'
        'item-a item-a item-a item-c item-c item-c'
         ;
        gap: 16px;
        width: 90%;
        height: 50%;
        margin: auto;
        position: relative;
        top: 100px;

    }
    .item-a{
        grid-area: item-a;
        height: 500px;
        position: relative;
        width: 80%;
    }
    .HEADING{
        color: white;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 700;
        position: relative;
        top: 150px;
        left: 13%;
        justify-content: left;
    }
    
    .item-a-writeup{
        color: white;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 500;
        justify-content: left;
        position: relative;
        left: 13%;
        bottom: 315px;
        width: 100%;
    }
    .item-b{
        background-color:  hsl(248, 32%, 49%);
        grid-area: item-b;
        height: 50px;
        border-radius: 10px;
        position: relative;
        right: 10%;
        bottom: 50px;
        box-shadow: rgba(88, 88, 88, 0.445) 0px 6px;
        width: 100%;
    
    }
    .item-b-writeup{
        color: white;
        font-size: 16px;
        font-family: 'Poppins';
        font-weight: 400;
        text-align: center;
        position: relative;
        top: 15px;
    }
    .item-c{
        background-color: white;
        grid-area: item-c;
        height: 500px;
        border-radius: 10px;
        width: 100%;
        box-shadow: rgba(88, 88, 88, 0.445) 0px 6px;
        position: relative;
        right: 10%;
        bottom: 50px;
        
    }
    .item-c-text-below{
        position: relative;
        top: 120px;
        font-family: 'Poppins';
        font-size: 10px;
    }
    .FORM{
        text-align: center;
        position: relative;
        top: 20px;

    }
    ::placeholder{
        font-family:'Poppins'; 
        position: relative;
        left: 0%;
    }
    option{
    font-family: 'Poppins';
    font-weight: bold;  
    }
    
    #FirstNameId{
    border-radius: 6px;
    height: 50px;
    width:80%;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: 20px;
    }


    #FirstNameId:focus{
        border-color: black;
        }
    
    #LastNameId{
    border-radius: 6px;
    height: 50px;
    width:80%;
    position: relative;
    top: 50px;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    }

    #LastNameId:focus{
        border-color: black;
        }

    #EmailId{
    border-radius: 6px;
    height: 50px;
    width:80%;
    position: relative;
    top: 80px;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    }

    #EmailId:focus{
        border-color: black;
        }
    
    #PasswordId{
    border-radius: 6px;
    height: 50px;
    width: 80%;
    position: relative;
    top: 105px;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    }


    #PasswordId:focus{
        border-color: black;
        }

    #SubmitId{
    background-color:  hsl(154, 59%, 51%);
    box-shadow:rgba(0, 0, 0, 0.315) 2px 2px;
    border: 1px solid grey;
    border-radius: 6px;
    height: 50px;
    width:80%;
    position:relative;
    left:1px;
    top:115px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: white
    }
    
    #SubmitId:hover{
        width:80%;  
        height: 50px;
        background-color: hsl(154, 58%, 59%); 
        cursor: pointer;
    }
    
    #SubmitId:focus{
        box-shadow:rgba(0, 0, 0, 0.315) 0px 0px;   
    } 
    #WarningText1{
        display: none;
        position: relative;
        left: 21%;
        bottom: -18px;
        color:hsl(0, 100%, 74%);
        font-size: 13px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon1{
        display: none;
        position: relative;
        left: 80%;
        bottom: 14px;
        height: 20px;
        
    }
    #WarningText2{
        display: none;
        position: relative;
        left: 21%;
        bottom: -48px;
        color:hsl(0, 100%, 74%);
        font-size: 13px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon2{
        display: none;
        position: relative;
        left: 80%;
        bottom: 6px;
        height: 20px;
        
    }
    #WarningText3{
        display: none;
        position: relative;
        left: 24%;
        bottom: -79px;
        color:hsl(0, 100%, 74%);
        font-size: 13px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon3{
        display: none;
        position: relative;
        left: 80%;
        bottom: 6px;
        height: 20px;
        
    }
    #WarningText4{
        display: none;
        position: relative;
        left: 21%;
        bottom: -103px;
        color:hsl(0, 100%, 74%);
        font-size: 13px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon4{
        display: none;
        position: relative;
        left: 80%;
        bottom: 6px;
        height: 20px;
        
    }




   
}

@media only screen and (max-width: 375px) {
    /* For mobile phones: */
    *{  
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
   
    body{
        background: url("./Images/bg-intro-mobile.png");
        height: 100%;
        background-color: hsl(0, 100%, 74%);
        place-items: center;
        overflow: hidden;
    
    }
    .BIG-BODY{
        display: grid;
        grid-template-areas:
        'item-a item-a item-a'
        'item-a item-a item-a'
        'item-b item-b item-b'
        'item-c item-c item-c'
        'item-c item-c item-c'
         ;
        gap: 4px;
        width: 80%;
        height: 50%;
        margin: auto;
        position: relative;
        top: 100px;

    }
    .item-a{
        grid-area: item-a;
        height: 30px;
        position: relative;
        width: 80%;
    }
    .HEADING{
        color: white;
        font-size: 12px;
        font-family: 'Poppins';
        font-weight: 400;
        position: relative;
        top: -90px;
        left: 20%;
        justify-content: left;
        height: 10px;
    }
    
    .item-a-writeup{
        color: white;
        font-size: 10px;
        font-family: 'Poppins';
        font-weight: 500;
        position: relative;
        left: 13%;
        bottom: 423px;
        text-align: center;
    }
    .item-b{
        background-color:  hsl(248, 32%, 49%);
        grid-area: item-b;
        height: 40px;
        border-radius: 8px;
        position: relative;
        right: 0%;
        top: 90%;
        box-shadow: rgba(88, 88, 88, 0.445) 0px 6px;
        width: 100%;
    
    }
    .item-b-writeup{
        color: white;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: 400;
        text-align: center;
        position: relative;
        top: 12px;
    }
    .item-c{
        background-color: white;
        grid-area: item-c;
        height: 330px;
        border-radius: 10px;
        width: 100%;
        box-shadow: rgba(88, 88, 88, 0.445) 0px 6px;
        position: relative;
        left: 0%;
        top: 50px;
        
    }
    .item-c-text-below{
        position: relative;
        top: 58px;
        font-family: 'Poppins';
        font-size: 7px;
    }
    .FORM{
        text-align: center;
        position: relative;
        top: -4px;

    }
    ::placeholder{
        font-family:'Poppins'; 
        position: relative;
        left: 0%;
    }
    option{
    font-family: 'Poppins';
    font-weight: bold;  
    }
    
    #FirstNameId{
    border-radius: 6px;
    height: 35px;
    width:80%;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    }
    #FirstNameId:focus{
        border-color: black;
        }
    
    #LastNameId{
    border-radius: 6px;
    height: 35px;
    width:80%;
    position: relative;
    top: 30px;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    }
    #LastNameId:focus{
        border-color: black;
        }
    #EmailId{
    border-radius: 6px;
    height: 35px;
    width:80%;
    position: relative;
    top: 40px;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    }
    #EmailId:focus{
        border-color: black;
        }
    
    #PasswordId{
    border-radius: 6px;
    height: 35px;
    width: 80%;
    position: relative;
    top: 50px;
    padding: 13px 18px;
    border-color: rgb(209, 209, 209);
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    }

    #PasswordId:focus{
        border-color: black;
        }
    #SubmitId{
    background-color:  hsl(154, 59%, 51%);
    box-shadow:rgba(0, 0, 0, 0.315) 2px 2px;
    border: 1px solid grey;
    border-radius: 6px;
    height: 32px;
    width:80%;
    position:relative;
    left:0px;
    top:56px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: white
    }
    
    #SubmitId:hover{
        width:80%;  
        height: 32px;
        background-color: hsl(154, 58%, 59%); 
        cursor: pointer;
    }
    
    #SubmitId:focus{
        box-shadow:rgba(0, 0, 0, 0.315) 0px 0px;   
    } 
    #WarningText1{
        display: none;
        position: relative;
        left: 13%;
        bottom: -18px;
        color:hsl(0, 100%, 74%);
        font-size: 11px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon1{
        display: none;
        position: relative;
        left: 80%;
        bottom: 14px;
        height: 20px;
        
    }
    #WarningText2{
        display: none;
        position: relative;
        left: 13%;
        bottom: -30px;
        color:hsl(0, 100%, 74%);
        font-size: 11px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon2{
        display: none;
        position: relative;
        left: 80%;
        bottom: 6px;
        height: 20px;
        
    }
    #WarningText3{
        display: none;
        position: relative;
        left: 17%;
        bottom: -40px;
        color:hsl(0, 100%, 74%);
        font-size: 11px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon3{
        display: none;
        position: relative;
        left: 80%;
        bottom: 6px;
        height: 20px;
        
    }
    #WarningText4{
        display: none;
        position: relative;
        left: 14%;
        bottom: -50px;
        color:hsl(0, 100%, 74%);
        font-size: 11px;
        font-family: 'Poppins';
        font-style: italic;
        font-weight: 400;
        padding-bottom: 2px;
    }
    #erroricon4{
        display: none;
        position: relative;
        left: 80%;
        bottom: 6px;
        height: 20px;
        
    }



   
}